<section class="flat-card">
  <h2
    *ngIf="flat?.title" 
    class="flat-card__name">
    {{flat?.title}}
  </h2>

  <p 
    *ngIf="flat?.rooms" 
    class="flat-card__parameter">
    <b>Комнат:</b> {{flat?.rooms}}
  </p>
  <p 
    *ngIf="flat?.address"
    class="flat-card__parameter">
    <b>Адрес:</b> <span *ngIf="flat?.address?.city">г. {{flat?.address?.city}}, </span><span *ngIf="flat?.address?.street">ул. {{flat?.address?.street}}, </span><span *ngIf="flat?.address?.house">д. {{flat?.address?.house}}, </span><span *ngIf="flat?.address?.room">кв. {{flat?.address?.room}}</span>
  </p>
  <p 
    *ngIf="flat?.area && flat?.areaUnit"
    class="flat-card__parameter">
    <b>Площадь:</b> {{flat?.area}} {{flat?.areaUnit}}
  </p>
  <p 
    *ngIf="flat?.agent"
    class="flat-card__parameter">
    <b>Агент:</b> {{flat?.agent?.lastName}} {{flat?.agent?.firstName}} {{flat?.agent?.middleName}}
  </p>

  <div class="flat-card__buttons-wrapper">
    <button
      (click)="likeClick()" 
      class="flat-card__button"
      [class.flat-card__button--active]="isLiked">
      LIKE
    </button>
  </div>
</section>
