<section class="flat-card">
  <h2 class="flat-card__name">3-х комнатная на Минской</h2>

  <p class="flat-card__parameter">
    <b>Комнат:</b> 3
  </p>
  <p class="flat-card__parameter">
    <b>Адрес:</b> г. Tyumen, ул. Минская, д. 3a, кв. 123
  </p>
  <p class="flat-card__parameter">
    <b>Площадь:</b> 134 квм
  </p>
  <p class="flat-card__parameter">
    <b>Агент:</b> Дроздов Василий Михайлович
  </p>

  <div class="flat-card__buttons-wrapper">
    <button class="flat-card__button">LIKE</button>
  </div>
</section>
